* {
  box-sizing: border-box;
}

body {
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  letter-spacing: 3px;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .img-container img {
  max-width: 90%;
  margin-top: 20px;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .info .number {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8em;
}

.pokemon .info .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

#search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

/* ... existing styles ... */
#search-wrapper {
  position: relative;
  width: 70%;
  margin: auto;
}

#search-bar {
  width: 100%; /* Set the width to take up the full width of its container */
  padding: 10px; /* Add some padding */
  border: 1px solid #ccc;
}

#suggestions-container {
  position: absolute;
  top: 100%; /* Position it right below the search bar */
  left: 0; /* Align it with the left edge of the search bar */
  width: 100%; /* Set the width to take up the full width of its container */
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1; /* This ensures that the suggestion box appears on top of other elements */
  display: none; /* Hide it by default */
}

#suggestions-container.active {
  display: block; /* Show it when it has the 'active' class */
}
